@model E_Commerce.Models.Seller

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPassword" class="control-label"></label>
                <input asp-for="SellerPassword" class="form-control" />
                <span asp-validation-for="SellerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerEMail" class="control-label"></label>
                <input asp-for="SellerEMail" class="form-control" />
                <span asp-validation-for="SellerEMail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Banned" /> @Html.DisplayNameFor(model => model.Banned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SellerDescription" class="control-label"></label>
                <input asp-for="SellerDescription" class="form-control" />
                <span asp-validation-for="SellerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerRate" class="control-label"></label>
                <input asp-for="SellerRate" class="form-control" />
                <span asp-validation-for="SellerRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class ="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
